<h2 *ngIf="!stop?.id">Chargement…</h2>
<h2 *ngIf="stop?.id" [style.color]="stop?.couleurligne">Arrêt {{ stop?.nom }} ({{ stop?.mobilier }})</h2>

<h3 *ngIf="line?.id" [style.color]="line?.couleurligne">Ligne {{ line?.nomcourt }} : {{ line?.nomlong }}</h3>

<div>
	<button type="button" (click)="getTimetable()" [disabled]="loading">Rafraîchir</button>
</div>

<p *ngIf="loading">Chargement des horaires…</p>

<p *ngIf="!loading && !timetable">
	Aucune horaire trouvé
</p>
<ul *ngIf="!loading && timetable">
	<li *ngFor="let time of timetable">
		<a routerLink="/star/line/{{ time.idligne }}">Ligne {{ time.nomcourtligne }}</a><br>
		Prévu : {{ time.arriveetheorique | date:'H:mm:ss' }}<br>
		Réel : {{ time.arrivee | date:'H:mm:ss' }}
	</li>
</ul>

<a routerLink="/star">← Retour</a>