<h2 *ngIf="!(stop | async)?.id">Chargement…</h2>
<h2 *ngIf="(stop | async)?.id" [style.color]="(stop | async)?.couleurligne">Arrêt {{ (stop | async)?.nom }} ({{ (stop | async)?.mobilier }})</h2>

<h3 *ngIf="(line | async)?.id" [style.color]="(line | async)?.couleurligne">Ligne {{ (line | async)?.nomcourt }} : {{ (line | async)?.nomlong }}</h3>

<div>
	<button type="button" (click)="getTimetable()" [disabled]="!(stop | async)">Rafraîchir</button>
</div>

<ul *ngIf="timetable | async">
	<li *ngFor="let time of timetable | async">
		<a routerLink="/star/line/{{ time.idligne }}">Ligne {{ time.nomcourtligne }}</a><br>
		Prévu : {{ time.arriveetheorique | date:'H:mm:ss' }}<br>
		Réel : {{ time.arrivee | date:'H:mm:ss' }}
	</li>
</ul>

<a routerLink="/star">← Retour</a>