<h2 *ngIf="!line?.id">Chargement…</h2>
<h2 *ngIf="line?.id" [style.color]="line?.couleurligne">Ligne {{ line?.nomcourt }} : {{ line?.nomlong }}</h2>

<div>
	<button type="button" (click)="getTimetable()" [disabled]="!line">Rafraîchir</button>
</div>

<p *ngIf="loading">Chargement des horaires…</p>

<p *ngIf="!loading && !timetable">
	Aucune horaire trouvé
</p>
<ul *ngIf="!loading && timetable">
	<li *ngFor="let time of timetable">
		<a routerLink="/star/line/{{ line?.id }}/stop/{{ time.idarret }}">Arrêt {{ time.idarret }}</a><br>
		Prévu : {{ time.arriveetheorique | date:'H:mm:ss' }}<br>
		Réel : {{ time.arrivee | date:'H:mm:ss' }}
	</li>
</ul>

<a routerLink="/star">← Retour</a>